@model WeddingApp.Web.Controllers.SubmissionViewModel

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Julia & Matthew</title>
        <link href="https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://wedding.carrfound.org/style.css">
    </head>
    <body>
        <header>
            <img class="centered" src="https://wedding.carrfound.org/julia_set_960_600.png" height="200" width="320">
        </header>
        <p class="centered pad-top">
            @if (Model.Success)
            {
                <span>
                    Your email was successfully confirmed! Please check your inbox
                    for instruction on how to connect to the wedding ceremony.
                </span>
            }
            else
            {
                <span>Something went wrong! Please contact wedding@carrfound.org to let us know.</span>
            }
        </p>
    </body>
</html>